.gitignore
*.sqlite3
db.sqlite3
venv
.vscode
*__pycache__
__pycache__
.__pychace__
*.yml
README.md
Dockerfile
.git
*.env
*.example
.dockerignore

# Static Files Django and project

static/
style/

# Nginx Config
nginx-config/

# Requests Web
requests-web/
