.gitignore
*.sqlite3
venv
.vscode
*__pycache__
__pycache__
.__pychace__
*.yml
README.md
Dockerfile
.git
*.env
.dockerignore

# Static Files Django Admin

static/admin/img/
static/admin/js/
static/admin/css/*
!static/admin/css/base.css

# Static WhiteNoise

static/css/style.*.css
static/css/style.css.gz
static/css/style.*.css.gz
static/staticfiles.json
static/img/*.*.*
